.whole-rooms-window {
    background-color:aliceblue;
    overflow: scroll;
}

.messages-panel {
    height: 100vh;
    min-height: 200px;
    background-color:cornsilk;
    overflow: scroll;
}

.room-name a.unselected:hover {
    font-weight:bold;
    font-size:110%;
}

.room-name .selected {
    font-weight:bold;
    font-size:110%;
    color: rgb(126, 122, 183);
}

.room-name .unselected {
    font-weight:normal;
    font-size:14px;
    color: rgb(126, 122, 183);
}

.room-name {
    font-weight:normal;
    font-size: 14px;
    
}

.welcome-msg {
    margin: 5%;
    font-size: 180%;
    font-weight: bold;
}

.room-name a {
    text-decoration: none;
    color: rgb(126, 122, 183);
}

.messages-panel h1 {
    margin:0;
    padding:0;
        font-size: 200%;
    font-weight:600;
}

.chat-rooms {
    width: 30%;
    height: 100vh;
    background-color: bisque;
    margin: 0;
    overflow: scroll;
}

.lower-chat-room-list {
    height: 100%;
}

.chat-room-list li {
    list-style: none;
    text-transform: uppercase;
}

.chat-rooms .buttonDemo {
    width: 100%;
    padding: 2%;
    /*margin-top: 2%;*/
}

.chat-rooms .buttonDemo button {
}

.chat-rooms .chat-rooms-title {
    font-size: 200%;
    font-weight:600;
}

.footer {
    margin-top:20%;
    width: 100%;
}

#message-input {
    width:100%;
}