.chat-rooms .buttonDemo {

    margin-right: 5%;
    /*margin-top: 2%;*/
}

.chat-rooms .buttonDemo button {
    float: right;
    margin-top: 2%;
}

.chat-rooms .chat-rooms-title {
    font-size: 200%;
    font-weight:600;
}