<div class="messages-panel">
  
<h1>{{roomName}}</h1> 
<span ng-show="currentRoom != null">{{messages.length}} messages</span>

  <div class="chat-room-buttons" ng-show="messages.length > 0">
    <button type="button" class="btn btn-default btn-sm" ng-click="closeAll()" ng-disabled="currentRoom == null">Close all messages</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="openAll()" ng-disabled="oneAtATime || currentRoom == null">Open all messages</button>
  </div>

  <div class="checkbox" ng-show="messages.length > 0">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
    
    <uib-accordion close-others="oneAtATime" ng-repeat="message in messages" ng-show="messages.length > 0">        
        <div uib-accordion-group class="panel-default" is-open="message.open" ng-click="toggle(message)">
            <uib-accordion-heading>
                <div class="accordion-div">
                    <div class="user-name">{{message.userName}}</div> 
                    <div class="time-stamp">{{message.sentAt}}</div>                    
                </div>
            </uib-accordion-heading>
            
      {{message.content}}
    </div>
  </uib-accordion>
</div>
