<div class="messages-panel wrap" ng-controller="MessagesCtrl">
    <div class="room-id">
        <h1>{{roomName}}</h1> 
    </div>
    <div class="users-div" ng-show="users.length > 0">
        <h4 class="users-div-title">Users online: </h4>
        <div class="user-list" ng-repeat="user in users track by $index">
            <span>{{user.username}} ,</span>
        </div>
    </div>
    <div ng-show="currentRoomId != null">{{messagesDescription}}</div>

  <div class="chat-room-buttons" ng-show="messages.length > 0">
    <button type="button" class="btn btn-default btn-sm" ng-click="closeAll()" ng-disabled="currentRoomId == null">Close all messages</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="openAll()" ng-disabled="oneAtATime || currentRoomId == null">Open all messages</button>
  </div>

  <div class="checkbox" ng-show="messages.length > 0">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
    <div class="messages-list">
    
    <uib-accordion close-others="oneAtATime" ng-repeat="message in messages track by $index" ng-show="messages.length > 0">        
        <div uib-accordion-group class="panel-default" is-open="message.open" ng-click="toggle(message)">
            <uib-accordion-heading>
                <div class="accordion-div">
                    <div class="user-name">{{$index + 1}}. {{message.userName}}</div> 
                    <div class="time-stamp">{{message.sentAt}}</div>                    
                </div>
            </uib-accordion-heading>
            
      {{message.content}}
    </div>
  </uib-accordion>
    </div>
    

<div class="footer">
      <ng-include src="'/templates/sendMessage.html'"></ng-include>
</div>
</div>



