<section class="whole-rooms-window">
    <section class="chat-rooms">
        <div class="buttonDemo modal-demo" ng-controller="ChatRoomsBtnCtrl">
            <button type="button" class="btn"  ng-click="open()">
                New Chatroom
                </button>
            <!--<div>{{data.roomName}}</div>-->
            <div class="chat-rooms-title">Bloc Chat</div>
        </div>
        <ul class="chat-room-list" ng-repeat="room in rooms.rooms track by $index">
             <li class="room-name">{{room.$value}}</li>
         </ul>
    </section>
    <ng-include src="'/templates/messages_panel.html'"></ng-include>
</section>
