<section class="whole-rooms-window">
    <section class="chat-rooms container">
        <div class="buttonDemo row" ng-controller="ChatRoomsBtnCtrl">
            <!--<div>{{data.roomName}}</div>-->
            <div class="chat-rooms-title col-md-8">Bloc Chat</div>
            <button type="button" class="btn col-md-4"  ng-click="open()">New Chatroom</button>
        </div>
        <div class="welcome-msg">Welcome, {{username}}!</div>
        <div class="lower-chat-room-list">
        <ul class="chat-room-list" ng-repeat="room in rooms.rooms track by $index">
            <li class="room-name"><a href="" ng-click="setRoom(room)" ng-class="room.class || 'unselected'">{{room.$value}}</a></li>
         </ul>
        </div>
    </section>
    <ng-include src="'/templates/messages_panel.html'"></ng-include>
</section>
