<section class="chat-rooms">
    <div class="buttonDemo" ng-controller="ChatRoomsBtnCtrl">
        <button type="button" class="btn btn-primary"  ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Single Toggle
            </button>
        <div>{{singleModel}}</div>
        <div class="chat-rooms-title">Bloc Chat</div>
    </div>
    <ul class="chat-room-list" ng-repeat="room in rooms.rooms track by $index">
         <li class="room-name">{{room.$value}}</li>
     </ul>
</section>
